* {
  color: black;
}


.store {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1000px;
  height: 1000px;
}


.cards-view {
  display: flex;

}

.shop-card {
  box-shadow: black;
  width: 200px;
  height: 200px;
}
.shop-card img {
  width: 200px;
  z-index: 4;
}

.shop-card h2{
  position: absolute;
  z-index: 1;
}

.shop-card span{
  position: absolute;
  z-index: 1;
}

.shop-card button{
  left: 80px;
  bottom: 40px;
  position: relative;
  z-index: 1;
}

.shop-item {
  border: 2px solid green;
  width: 200px;
  height: 200px;
}