.portfolio {
  width: 1200px;
  min-height: 500px;
  max-height: 1400px;
  max-width: 880px;
}

.project-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
  
  min-height: 500px;
  max-height: 1400px;
  max-width: 880px;
}

img {
  max-width: 250px;
  margin: 10px;
}

.toolbar {
  width: 1200px;
  padding: 10px 10px 0 10px;
  font-size: 14px;
}


button {
  background: none;
  border: 1px solid #1f1e1e;
  margin: 0 5px 0 0;
  border-radius: 0%;
}

button:hover {
  cursor: pointer;
}

.checked-tag:focus {
  background: #4b4747;
  border-radius: 0%;
  border: 1px solid #808080;
  color: #f1ecec;
}
